PREFIX sio: <http://semanticscience.org/resource/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX foaf: <http://xmlns.com/foaf/0.1/>
PREFIX bibo: <http://purl.org/ontology/bibo/>
PREFIX obo: <http://purl.obolibrary.org/obo/>
PREFIX prism: <http://prismstandard.org/namespaces/basic/2.0/>

SELECT distinct
	?label
	?bmpo
	?related_class
	(group_concat(distinct ?reference;separator = "<br/>") AS ?reference)
FROM <{{graph}}>
WHERE{
	{
		SELECT distinct
			?label
			(group_concat(distinct ?bmpo;separator = "<br/>") AS ?bmpo)
			(group_concat(distinct ?related_class;separator = "<br/>") AS ?related_class)
			?puclication_name
			?volume
			?number
			?starting_page
			?ending_page
			?date
			?url
			(group_concat(distinct ?author_name;separator = ", " ) AS ?author_name)
		FROM <{{graph}}>
		WHERE {
			?Resource dcterms:identifier "{{id}}"^^<http://www.w3.org/2001/XMLSchema#string> ;
				sio:SIO_001279 _:b_phenotype .
			_:b_phenotype a sio:SIO_010056 ;
				rdfs:label ?label .
			filter(LANG(?label) = '')

			OPTIONAL{
				_:b_phenotype sio:SIO_000255 ?bmpo.
			}
			OPTIONAL{
				_:b_phenotype rdfs:seeAlso ?related_class.
			}
			OPTIONAL{
				_:b_phenotype dcterms:reference _:b_reference .

				_:b_reference a bibo:Article ;
					prism:publicationName ?puclication_name ;
					prism:volume ?volume ;
					prism:number ?number ;
					prism:startingPage ?starting_page ;
					prism:endingPage ?ending_page ;
					dcterms:date ?date ;
					rdfs:seeAlso ?url .
				filter(LANG(?puclication_name) = '{{language}}')
				OPTIONAL{
					_:b_reference dc:creater _:b_author.

					_:b_author a foaf:Person;
						foaf:name ?author_name .
					filter(LANG(?author_name) = '{{language}}')
				}
			}

		}
	}

	# author_name が empty の場合 "-" とする
	BIND(BOUND(?author_name) && strlen(?author_name) >0 as ?an_notEmpty)
	BIND( if (?an_notEmpty,
			?author_name,
			"-")
		 as ?author_name )

	# date が empty の場合 "-" とする
	BIND(BOUND(?date) && strlen(?date) >0 as ?dt_notEmpty)
	BIND( if (?dt_notEmpty,
			?date,
			"-")
		 as ?date )

	# puclication_name が empty でない場合、文字連結して reference を作成
	BIND(BOUND(?puclication_name) && strlen(?puclication_name) >0 as ?pn_notEmpty)
	BIND( if (?pn_notEmpty,
			CONCAT( ?author_name, ", ", " (",
				?date,
				"). ",
				?puclication_name,
				", ",
				?volume,
				", ",
				?number,
				", [",
				?starting_page,
				"-",
				?ending_page,
				"]. ",
				"<a href='",
				?url,
				"'>",
				?url,
				"</a>"
				),
			"")
		 as ?reference )
}
